@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: delbar;
        src: url("./fonts/Digi Delbar3.ttf");
    }
    @font-face {
        font-family: faNum;
        src: url("./fonts/IRANSansWeb(FaNum)_Medium.ttf");
    }
    @font-face {
        font-family: iranLight;
        src: url("./fonts/IRANSansWeb(FaNum)_Light.ttf");
    }
    @font-face {
        font-family: vazir;
        src: url("./fonts/Vazir/Vazir.ttf");
    }

    body {
        font-family: iranLight;
        direction: rtl;
        overflow-x: hidden;
    }

    input,
    textArea,
    select {
        box-shadow: none !important;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-dark  !important;
    }
    ::-webkit-scrollbar-thumb {
        @apply w-2  !important;
    }
}

@layer utilities {
    .container-primary {
        @apply mx-auto sm:px-10 md:px-20 lg:px-20;
    }
    .li-header {
        @apply text-center text-white hover:text-secondary transition-all cursor-pointer;
    }

    .badge-header {
        @apply absolute top-0 -left-1 text-xs h-3.5 w-3.5 flex items-center justify-center bg-black/80 rounded-full font-[faNum];
    }
    .li-sidebar {
        @apply transition-all cursor-pointer hover:text-secondary text-white;
    }
    .center-position {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .btn-primary {
        @apply bg-primary cursor-pointer shadow-2xl text-white rounded-[2rem] py-3 px-8 hover:bg-dark transition-all duration-500;
    }
    .btn-secondary {
        @apply bg-price text-white rounded-[2.5rem] py-3 px-5 hover:bg-secondary hover:text-white transition-all duration-500;
    }
    .btn-order {
        @apply border-2 text-xs  rounded-[2.5rem] py-2 px-3 hover:border-black hover:text-primary transition-all duration-500;
    }
    .btn-yearStory {
        @apply rounded-[2.5rem] sm:py-2 sm:px-3 md:py-3 md:px-5 bg-gray-300 hover:text-white  hover:bg-info transition-all duration-500 text-gray-500 font-[faNum];
    }
    .btn-yearStorySelect {
        @apply text-white rounded-[2.5rem] sm:py-2 sm:px-3 md:py-3 md:px-5 bg-info  font-[faNum] hover:bg-dark transition-all duration-500;
    }

    .li-footer {
        @apply transition-all cursor-pointer hover:opacity-60 text-white;
    }
    .form-contact {
        @apply w-full border-0 text-black bg-zinc-200  focus:bg-zinc-300 rounded-xl;
    }
    .form-comment {
        @apply w-full border-0 text-black bg-white  focus:bg-zinc-100 rounded-xl;
    }
    .form-error {
        @apply text-sm rounded-xl relative text-white bg-red-200 border border-info text-info  py-1 px-3 mt-3 after:content-["▲"] after:absolute after:left-2 after:top-[-0.8rem] after:text-red-200;
    }

    .content-blog h2{
        @apply text-xl font-bold
    }
    .content-blog h3{
        @apply text-lg font-bold
    }

    /* admin panel  */
    .pAdmin-links-sidebar a {
        @apply flex gap-2 items-center;
    }
    .pAdmin-links-sidebar svg {
        @apply text-2xl;
    }
    .dataTable th,
    .dataTable td {
        @apply p-3 my-10;
    }
    .dataTable tr {
        @apply bg-zinc-100 border-b-8 border-zinc-200 sm:overflow-x-scroll;
    }
    .dataTable th:first-child,
    .dataTable td:first-child {
        @apply rounded-r-xl;
    }
    .dataTable th:last-child,
    .dataTable td:last-child {
        @apply rounded-l-xl;
    }

    .btn {
        @apply text-white rounded-xl text-sm sm:py-2 sm:px-3 md:py-2 md:px-5 font-[faNum] hover:bg-dark transition-all duration-500;
    }

    .form-create-product {
        @apply w-full border-0 text-black bg-white  focus:bg-zinc-200 rounded-xl;
    }

    /* end of admin panel  */

    /* user panel  */
    .ticket-boxes__custom {
        @apply relative before:content-[""] before:absolute before:top-8 before:right-20 before:w-4 before:h-4 before:rounded-full;
    }


    /*end of user panel  */
}
