@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: delbar;
        src: url("./fonts/Digi Delbar3.ttf");
    }
    @font-face {
        font-family: faNum;
        src: url("./fonts/IRANSansWeb(FaNum)_Medium.ttf");
    }
    @font-face {
        font-family: iranLight;
        src: url("./fonts/IRANSansWeb(FaNum)_Light.ttf");
    }
    @font-face {
        font-family: vazir;
        src: url("./fonts/Vazir/Vazir.ttf");
    }

    body {
        font-family: iranLight;
        direction: rtl;
        overflow-x: hidden;
    }

    input{
        box-shadow: none !important;
    }

    ::-webkit-scrollbar {
        width: 1rem;
    }

    /* ::-webkit-scrollbar-track{
        @apply bg-gray-20;
    }
     */
    ::-webkit-scrollbar-thumb {
        @apply bg-primary rounded-3xl m-3;
    }
}

@layer utilities {
    .container-primary {
        @apply mx-auto sm:px-10 md:px-20 lg:px-20;
    }
    .li-header {
        @apply text-white hover:text-secondary transition-all cursor-pointer;
    }

    .badge-header {
        @apply absolute top-0 -left-1 text-xs h-3.5 w-3.5 flex items-center justify-center bg-black/80 rounded-full font-[faNum];
    }
    .li-sidebar {
        @apply transition-all cursor-pointer hover:text-secondary text-white;
    }
    .center-position {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
    .btn-primary {
        @apply bg-primary cursor-pointer shadow-2xl text-white rounded-[2rem] py-3 px-8 hover:bg-dark transition-all duration-500;
    }
    .btn-secondary {
        @apply bg-price text-white rounded-[2.5rem] py-3 px-5 hover:bg-secondary hover:text-white transition-all duration-500;
    }
    .btn-order {
        @apply border-2 text-xs  rounded-[2.5rem] py-2 px-3 hover:border-black hover:text-primary transition-all duration-500;
    }
    .btn-yearStory {
        @apply  rounded-[2.5rem] sm:py-2 sm:px-3 md:py-3 md:px-5 bg-gray-300 hover:text-white  hover:bg-info transition-all duration-500 text-gray-500 font-[faNum];
    }
    .btn-yearStorySelect {
        @apply text-white rounded-[2.5rem] sm:py-2 sm:px-3 md:py-3 md:px-5 bg-info  font-[faNum] hover:bg-dark transition-all duration-500;
    }

    .li-footer{
        @apply transition-all cursor-pointer hover:opacity-60 text-white;
    }
    .form-contact {
        @apply w-full border-0 bg-zinc-100  focus:bg-zinc-200 rounded-xl ;
    }
    .form-error {
        @apply text-sm rounded-xl relative text-white bg-red-200 border border-info text-info  py-1 px-3 mt-3 after:content-["▲"] after:absolute after:left-2 after:top-[-0.8rem] after:text-red-200;
    }
}
